* {
  box-sizing: border-box;
  }

body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #0d1117;
color: #e6edf3;
}

header {
border-bottom: 1px solid #30363d;
padding: 20px 8%;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav h1 {
margin: 0;
color: #39ff14;
}

nav ul {
display: flex;
list-style: none;
gap: 25px;
margin: 0;
}

nav a {
color: #e6edf3;
text-decoration: none;
}

nav a:hover {
color: #39ff14;
}

main {
max-width: 1000px;
margin: auto;
padding: 80px 30px;
}

section {
margin-bottom: 120px;
}

#accueil {
min-height: 60vh;
display: flex;
flex-direction: column;
justify-content: center;
}

#accueil h2 {
font-size: 4rem;
margin: 10px 0;
}

.presentation {
font-size: 1.3rem;
max-width: 700px;
line-height: 1.7;
}

.terminal {
color: #39ff14;
font-family: monospace;
}

.ctf-container {
display: flex;
gap: 20px;
flex-wrap: wrap;
margin-top: 30px;
}

.ctf-card {
background-color: #161b22;
border: 1px solid #30363d;
padding: 25px;
border-radius: 10px;
flex: 1;
min-width: 220px;
}

.ctf-card:hover {
border-color: #39ff14;
}

footer {
text-align: center;
padding: 30px;
border-top: 1px solid #30363d;
color: #8b949e;
}
.ctf-card {
    color: #e6edf3;
    text-decoration: none;
    transition: 0.3s;
}

.ctf-card:first-child:hover {
    border-color: #39ff14;
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.25);
}

.ctf-card:nth-child(2):hover {
    border-color: #a855f7;
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.25);
}
